<nav class="ui menu">
  <div class="header item"> <%= @list.name %> </div>
  <%= link_to "Edit List", edit_board_list_path(@board, @list), class:"item" %>
  <div class="item"> New Task </div>
  <%= link_to "Delete List", board_list_path(@board, @list), method: :delete, class:"right menu item" %>
</nav>