<nav class="ui menu">
  <div class="header item">TASKSLAYER</div>
  <div class="item">TASKBOARDS</div>
  <div class="item">TASKLISTS</div>
  <div class="item">TASKTASKS</div>
  <div class="item right menu">LOG IN</div>
</nav>