<nav class="ui menu">
  <div class="header item">TASKSLAYER</div>
  <div class="item">NEW BOARD</div>
  <div class="item">NEW LIST</div>
  <div class="item">NEW TASK</div>
  <div class="item right menu">LOG IN</div>
</nav>